#intro_wrapper.post_img_wrapper
  = simple_form_for @post, html: { multipart: true } do |f|
    #intro
      #container.post_btn.post_btn-success2.fileinput-button
        = f.label :upload_cover_image
        = f.file_field :image

    %br/
    %br/
    = f.input :title
    = f.input :link, label: 'Link to the bot'
    = f.input :tag_ids, label: 'Tags',
                  :as => :select,
                  :input_html => {:class => "chosen-input",   :style => "min-width: 350px;", multiple: true},
                  :collection => Tag.order(:name).pluck(:name, :id)
    = link_to "Custom tag", new_tag_path
    %br
    /= f.association :size, prompt: "How many users does your bot have?"
    = f.input :usersize, label: 'How many users does your bot currently have?'

    = f.input :price, label: 'Bot price in USD (optional)'
    = f.input :shoutout_price, label: 'Shoutout price in USD (optional)'
    Offer a broadcast to customers.
    %br
    %br
    = f.label :Description
    %br
    = f.text_area :description
    %br
    %br
    You can style your text with HTML.
    %br
    %br
    #container.post_btn.post_btn-success3.fileinput-button
      = f.label :upload_image1
      = f.file_field :screenshot
    %br
    #container.post_btn.post_btn-success3.fileinput-button
      = f.label :upload_image_2
      = f.file_field :screenshot2
    %br
    #container.post_btn.post_btn-success3.fileinput-button
      = f.label :upload_image_3
      = f.file_field :screenshot3
    %br
    %br
    %br
    #container.post_btn.post_btn-success.fileinput-button
      = f.label :submit_bot
      = f.button :submit