- if user_signed_in?
- else
  %p#intro
    %br/
    Buy a bot with users and monetize it.
    %br/
- @tags.each do |tag|
  .tag
    = link_to tag.name, tag, class: 'tag'
%br
%br
/Users:
/%br
/- @sizes.each do |size|
/  .tag
/    = link_to size.name, size, class: 'tag'
#posts
  - @posts.each do |post|
    .post.raise
      .post_image
        = link_to (image_tag post.image.url(:small)), post
      .post_content
        .title
          %h2= link_to post.title, post
        .data.clearfix
          %p.username
            Shared by
            = link_to (post.user.name), post.user.name



          %p.buttons
            %span
              %i.fa.fa-comments-o
              = post.comments.count
            %span
              %i.fa.fa-thumbs-o-up
              = post.get_likes.size
= will_paginate @posts