#post_show
  %h1= @post.title
  - if @post.category
    Category:
    =@post.category
  %br/
  Tags: 
  - @post.tags.each do |tag|
    .tag
      = link_to tag.name, tag_path(:id => tag.id), class: 'tag'
  %p.username
    Shared by
    = @post.user.name
    = @post.created_at.strftime("%b %d. %Y")
    (about
    = time_ago_in_words(@post.created_at)
    ago)
  .clearfix
    .post_data
      = link_to like_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@post.get_upvotes.size, "Wow")
      = link_to dislike_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@post.get_downvotes.size, "Dislike")
      %p.data
        %i.fa.fa-comments-o
        = pluralize(@post.comments.count, "Comment")
      - if @post.usersize
        .data
          = "#{@post.usersize} users"
      - if @post.price
        .data
          = "$#{@post.price} bot"
      - if @post.shoutout_price
        .data
          = "$#{@post.shoutout_price} shoutout"
      - if @post.link
        = link_to "Visit bot", url_with_protocol(@post.link), target: "_blank", class: "button"
        .user
          .user.avatar
          = link_to (image_tag @post.user.avatar.url(:small)), user_path(@post.user.name)
      - if @post.user.email
        .data
          = "Email: #{@post.user.email}"
          .data
            Shared by
            = link_to (@post.user.name), user_path(@post.user.name)
      - if @post.user == current_user
        = link_to "Edit", edit_post_path(@post), class: "data"
        = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
    .post_image_description
      = image_tag @post.image.url(:medium)
      .description= simple_format(@post.description)
      - if @post.screenshot?
        = link_to image_tag(@post.screenshot.url), @post.screenshot.url(:medium),target: "_blank" if @post.screenshot?
        %br
        %br
        = link_to image_tag(@post.screenshot2.url), @post.screenshot2.url(:medium),target: "_blank" if @post.screenshot2?
        %br
        %br
        = link_to image_tag(@post.screenshot3.url), @post.screenshot3.url(:medium),target: "_blank" if @post.screenshot3?
        = link_to "Back", posts_path
    #random_post
      %h4 Other Bots
      .post
        .post_image
          = link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)
        .post_content
          .title
            %h2= link_to @random_post.title, post_path(@random_post)
          .data.clearfix
            %p.username
              Shared by
              = link_to (@random_post.user.name), user_path(@random_post.user.name)
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @random_post.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @random_post.get_likes.size
    #random_post
      .post
        .post_image
          = link_to (image_tag @random_post2.image.url(:small)), post_path(@random_post2)
        .post_content
          .title
            %h2= link_to @random_post2.title, post_path(@random_post)
          .data.clearfix
            %p.username
              Shared by
              = link_to (@random_post2.user.name), user_path(@random_post2.user.name)
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = @random_post2.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                = @random_post2.get_likes.size



#comments
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render 'comments/form'